header .shop-hero {
  width: 100%;
  height: 600px;
}
header .shop-hero img {
  width: 100%;
  height: 100%;
}
.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0rem;
}
.spinner div {
  width: 4rem;
  height: 4rem;
}
